

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.servicesextra {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.grid-item h3 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}

.grid-item p {
  color: #555;
  flex-grow: 1; /* Ensures that the paragraph takes up remaining space */
}

.grid-item button {
  margin: 0 auto; /* Centers the button */
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.grid-item button:hover {
  background: #0056b3;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .grid-container {
    padding: 10px;
  }
}
